@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic);

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

main {
    margin: auto;
    width: 720px;
    padding: 40px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 2px 4px #ccc;
    -moz-box-shadow: 0 2px 4px #ccc;
    box-shadow: 0 2px 4px #ccc;

    color: #474747;

    overflow-y: hidden;
    box-sizing: border-box;
}

label {
    padding-bottom: 5px;
    font-size: 0.9em;
    display: block;
}

.input-container {
    display: block;
}

input {
    font-size: 0.9em;
    padding: 5px;
    margin: 0 5px 10px 0;
    border: 1px solid #aaa;
    border-radius: 0;

    box-shadow: inset 0 4px 6px -6px #aaa;
}

.input-text-long {

}

button {
    border: none;
    background-color: #77952A;
    color: white;
    padding: 5px 10px;
    -webkit-box-shadow: 0 2px 2px #bbb;
    -moz-box-shadow: 0 2px 2px #bbb;
    box-shadow: 0 2px 2px #bbb;
    cursor: pointer;
    margin: 5px 0;
    font-size: 0.9em;
}

button::-moz-focus-inner {
    border: 0;
}

.input-number {
    width: 4em;
}

.front, .back {
    border: 1px solid #aaa;
}

#container {
    overflow: hidden;
    margin: -10px;
}

#container > a {
    float: left;
    margin: 10px;
}

.card {

    float: left;

    width: 200px;
    height: 125px;

    margin: 10px;

    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;

    box-sizing: border-box;
}

.clickable {
    cursor: pointer;
}

.card .front {

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    padding: 10px;
    box-sizing: border-box;

    width: inherit;
    height: inherit;

    float: none;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-box-shadow: 0 2px 4px #ccc;
    -moz-box-shadow: 0 2px 4px #ccc;
    box-shadow: 0 2px 4px #ccc;
}

.card.flip .front {
    z-index: 900;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;

    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
    transform: rotateY(-179deg);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    box-sizing: border-box;

}

.card.flip .back {
    z-index: 1000;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
}

.nameInput {
    opacity: 1;
    height: 120px;
}

.nameInput.collapsed {
    transition: all .1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.front {
    display: table;
}

.front-name {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    text-align: center;
    font-size: 1.44em;
}

.back-name {
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 5px 0;
    font-weight: 400;
    border-bottom: 1px solid #aaa;
}

.result {
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: #777;
}

#link {
    font-size: 0.9em;
    font-weight: 400;
    color: #77952A;
    margin: 10px 0 0 0;
    display: block;
}

.hint {
    font-size: 0.8em;
    color: #696969;
}

.link-container.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.link-container {
    opacity: 1;
    height: 100px;
    transition: all .3s ease-out;

    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 4px 6px -6px #aaa;

    box-sizing: border-box;

    margin: 20px 0;

    padding: 15px;
}

.card .front, .card .back {
    -webkit-box-shadow: 0 2px 4px #ccc;
    -moz-box-shadow: 0 2px 4px #ccc;
    box-shadow: 0 2px 4px #ccc;
}

.clickable .front, .clickable .back {
    -webkit-box-shadow: 0 2px 4px #77952A;
    -moz-box-shadow: 0 2px 4px #77952A;
    box-shadow: 0 2px 4px #77952A;
}

.topic {
    font-size: 1.5em;
    margin: 10px 0 20px 0;
}
